 <h2>آخرین پست‌ها</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>تست</th>
                            <th>تست</th>
                            <th>تست</th>
                            <th>تست</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>لورم</td>
                            <td>ایپسوم</td>
                            <td>تست</td>
                            <td>متن</td>
                            <td>تست</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>